body {
  background-color: #f6f4f0;
}

header {
  margin-top: 30px;
}

header .nav_ctrl {
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0;
}

header .nav_ctrl li {
  display: inline-block;
}

header .nav_ctrl .nav_bar {
  margin: 0 2px;
}

main {
  padding-bottom: 50px;
}

.bar {
  width: 100%;
  height: 2px;
  margin-top: 20px;
  margin-bottom: 15px;
  background-clip: content-box;
  background-color: #ebeae7;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-align: center !important;
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 5px;
  text-align: center !important;
}

.btn:hover {
  color: #ffffff;
  text-decoration-line: underline;
}

.btn-red {
  margin: auto;
  background: #d33142;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 0.25rem;
}

.btn-green {
  margin: auto;
  background: #3dbd44;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 0.25rem;
}

.btn-blue {
  margin: auto;
  background: #3177d3;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 0.25rem;
}

input[type*="text"],
input[type*="id"],
input[type*="password"],
input[type*="number"] {
  display: flex;
  align-items: center;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  text-align: left;
  white-space: nowrap;
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  margin: auto;
}

select:focus {
  box-shadow: none !important;
  border-width: 2px !important;
  border-color: black !important;
}

.update_msg {
  margin-top: 20px;
  text-align: center;
}

.update_msg span {
  color: white;
  background-color: black;
  padding: 1px 20px;
}

.tbls {
  width: 100%;
}

.tbl {
  margin-top: 5px;
}

.tbl .row .tbl_row .row {
  padding: 10px 0;
  align-items: center;
}

.tbl .row .tbl_row:nth-child(2n+1) {
  background-clip: content-box;
  background-color: #eae8e5;
}

.tbl_history .tbl_num {
  text-align: center;
}

.tbl_history .tbl_enter {
  text-align: center;
}

.tbl_history .tbl_enter .tbl_enter_date {
  margin-right: 3px;
}

.tbl_history .tbl_leave_date {
  margin-right: 5px;
}

.update_index .tbl_item:first-of-type {
  margin-top: 30px;
}

.update_index .tbl_item:nth-of-type(n+2) {
  margin-top: 75px;
}

.update_index .tbl_item .cat_name {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.update_index .tbl_item .tbl_update_index .tbl_row .item_name {
  text-align: center;
}

.update_index .tbl_item .tbl_update_index .tbl_row .enable {
  color: #3177d3;
  text-align: center;
}

.update_index .tbl_item .tbl_update_index .tbl_row .disable {
  text-align: center;
}

.update_index .tbl_item .tbl_update_index .tbl_row .edit {
  text-align: center;
}

.update_index .tbl_item .no_items {
  text-align: center;
  font-weight: bold;
}

.update_index .tbl_item .btns {
  margin-top: 15px;
}

.update_index .new_cat {
  margin-top: 50px;
  margin-bottom: 75px;
}

.update_index .new_cat a {
  font-weight: bold;
}

.update_index .no_cat {
  margin-top: 50px;
  font-weight: bold;
  font-size: 1.5rem;
}

.update_store_index .form_update,
.update_update .form_update,
.update_insert .form_update {
  margin-top: 30px;
}

.update_store_index .field .field_text,
.update_update .field .field_text,
.update_insert .field .field_text {
  padding-left: 30px;
}

.update_store_index .value,
.update_update .value,
.update_insert .value {
  margin-bottom: 20px;
}

.update_store_index .value .value_text,
.update_update .value .value_text,
.update_insert .value .value_text {
  padding-left: 30px;
}

.update_store_index .value input,
.update_update .value input,
.update_insert .value input {
  width: 100%;
}

.update_store_index .value img,
.update_update .value img,
.update_insert .value img {
  margin-bottom: 10px;
}

.update_index .btns .delete_btn,
.update_update .btns .delete_btn,
.update_insert .btns .delete_btn {
  margin-top: 20px;
}

.pw-icon {
  color: #555;
  float: right;
  margin-right: 15px;
  margin-top: -30px;
  position: relative;
  z-index: 2;
}

.login .pw-icon {
  margin-top: -55px;
}

.btns {
  justify-content: center;
  margin-top: 20px;
}

.btns div:first-of-type {
  margin-right: 20px;
}

.update_insert .tbl .row .tbl_row:nth-child(1) {
  font-weight: normal;
}

.required_field {
  color: #d33142;
  font-size: 0.8rem;
}

.history .selected_date {
  font-size: 1.25rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

.history .no_history {
  font-size: 1.5rem;
}

.history .guest_sum {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.history .tbl_history .tbl_row:nth-child(1) {
  font-weight: bold;
}
