@import "_variables";
body {
  background-color: $bg_color;
}

header {
  margin-top: 30px;
  .nav_ctrl {
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 0;
    li {
      display: inline-block;
    }
    .nav_bar {
      margin: 0 2px;
    }
  }
}

main {
  padding-bottom: 50px;
}

.bar {
  width: 100%;
  height: 2px;
  margin-top: 20px;
  margin-bottom: 15px;
  background-clip: content-box;
  background-color: $bar_color;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-align: center !important;
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 5px;
  text-align: center !important;
}

.btn{
  margin: auto;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 0.25rem;
  &:hover {
    color: #ffffff;
    text-decoration-line: underline;
  }
}

.btn-red {
  background: $red_color;
}

.btn-green {
  background: $green_color;
}

.btn-blue {
  background: $blue_color;
}

input[type*="text"],
input[type*="id"],
input[type*="password"],
input[type*="number"] {
  display: flex;
  align-items: center;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  text-align: left;
  white-space: nowrap;
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  margin: auto;
}

select:focus{
  outline-offset: 0px !important;
  outline: -webkit-focus-ring-color auto 1px !important;
  box-shadow: none !important;
  border-width: 2px !important;
  border-color: black !important;
}

.update_msg {
  margin-top: 20px;
  text-align: center;
  span {
    color: white;
    background-color: black;
    padding: 1px 20px;
  }
}

.tbls {
  width: 100%;
}

.tbl {
  margin-top: 5px;
  .row {
    .tbl_row {
      .row {
        padding: 10px 0;
        align-items: center;
      }
    }
    .tbl_row:nth-child(2n+1) {
      background-clip: content-box;
      background-color: $history_tbl_color;
    }
  }
}

.tbl_history {
  .tbl_num {
    text-align: center;
  }
  .tbl_enter {
    text-align: center;
    .tbl_enter_date {
      margin-right: 3px;
    }
  }
  .tbl_leave_date {
    margin-right: 5px;
  }
}

.update_index {
  .tbl_item:first-of-type {
    margin-top: 30px;
  }
  .tbl_item:nth-of-type(n+2) {
    margin-top: 75px;
  }
  .tbl_item {
    .cat_name {
      text-align: center;
      font-weight: bold;
      font-size: 1.5rem;
      margin-bottom: 5px;
    }
    .tbl_update_index {
      .tbl_row {
        .item_name {
          text-align: center;
          padding: 0 25px;
        }
        .enable {
          color: $blue_color;
          text-align: center;
        }
        .disable {
          text-align: center;
        }
        .edit {
          text-align: center;
        }
      }
    }
    .no_items {
      text-align: center;
      font-weight: bold;
    }
    .btns {
      margin-top: 15px;
    }
  }
  .new_cat {
    margin-top: 50px;
    margin-bottom: 75px;
    a {
      font-weight: bold;
    }
  }
  .no_cat {
    margin-top: 50px;
    font-weight: bold;
    font-size: 1.5rem;
  }
}

.update_store_index,
.update_update,
.update_insert {
  .form_update {
    margin-top: 30px;
  }
  .field {
    .field_text {
      padding-left: 30px;
    }
  }
  .value {
    margin-bottom: 20px;
    .value_text {
      padding-left: 30px;
    }
    input {
      width: 100%;
    }
    img {
      margin-bottom: 10px;
    }
  }
}

.update_index,
.update_update,
.update_insert {
  .btns {
    .delete_btn {
      margin-top: 20px;
    }
  }
}


.pw-icon {
  color: #555;
  float: right;
  margin-right: 15px;
  margin-top: -30px;
  position: relative;
  z-index: 2;
}

.login{
  .pw-icon{
    margin-top: -55px;
  }
}

#btns_cat{
  justify-content: space-around;
  .btn{
    margin: 0;
  }
  &.fixed{
    position: fixed;
    top: 15px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    z-index: 5;
    *{
      box-shadow: 0 0 5px #495057;
    }
  }
}

.btns{
  justify-content: space-around;
  margin-top: 20px;
  .go_back{
    background-color: #cccccc;
    color: #333333;
  }
}

.cat_nav{
  text-align: center;
  margin-bottom: 20px;
  .btns {
    // justify-content: space-around;
    margin-top: 20px;
    display: none;
    a{
      display: block;
    }
    *{
      margin-bottom: 5px;
      color: #000;
      text-decoration: underline;
      cursor: pointer;
      a{
        width: fit-content;
        margin: auto;
      }
    }
    .done{
      background-color: #cccccc;
      color: #333333;
    }
    // div:first-of-type {
    //   margin-right: 20px;
    // }
    // &.sortable{
    //   div:first-of-type {
    //     margin-right: 0;
    //     margin-left: auto;
    //     margin-bottom: 15px;
    //     a{
    //       border-radius: 0.25rem 0 0 0.25rem;
    //       width: 100%;
    //     }
    //   }
    //   .btn_sort_item{
    //     margin-right: auto;
    //     margin-left: 0;
    //     margin-bottom: 15px;
    //     border-radius: 0 0.25rem 0.25rem 0;
    //   }
    //   div:last-of-type {
    //     margin: auto;
    //     margin-top: 0;
    //   }
    // }
  }
}

.update_insert {
  .tbl {
    .row {
      .tbl_row:nth-child(1) {
        font-weight: normal;
      }
    }
  }
}

.required_field {
  color: $red_color;
  font-size: 0.8rem;
}

.history{
  .selected_date{
    font-size: 1.25rem;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .no_history{
    font-size: 1.5rem;
  }
  .guest_sum{
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
  .tbl_history{
    .tbl_row:nth-child(1) {
      font-weight: bold;
    }
  }
}

.update_menu_index{
  .tbl_row{
    .item_name, .likes{
      margin-bottom: 10px;
    }
    .likes{
      text-align: center;
      color: $red_color;
      svg {
        width: 20px;
        transform: translateY(-1px);
        stroke: #000;
        stroke-width: 2px;
        fill: #e92f39;
      }
    }
    .btn-group-vertical>.btn, .btn-group>.btn {
      position: relative;
      flex: none;
      margin: inherit;
    }
  }
}

.update_update, .update_insert, .update_menu_index{
  .item_enabled{
    margin-bottom: 5px;
    justify-content: center;
    .btn-primary{
      color: #606060;
      background-color: rgba(#fff, 0);
      border: 1px solid #606060;
    }
    .btn-primary:not(:disabled):not(.disabled).active{
      color: #fff;
      background-color: $blue_color;
      border-color: $blue_color;
    }
    .btn-primary:focus, .btn-primary.focus{
      box-shadow: none;
    }
    label{
      input{
        #text{
          font-size: 1rem;
        }
      }
    }
  }
}