body {
  background-color: #f6f4f0;
}

header {
  margin-top: 30px;
}

header .nav_ctrl {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0;
}

header .nav_ctrl li {
  display: inline-block;
}

header .nav_ctrl .nav_bar {
  margin: 0 2px;
}

main {
  padding-bottom: 50px;
}

.bar {
  width: 100%;
  height: 2px;
  margin-top: 20px;
  margin-bottom: 15px;
  background-clip: content-box;
  background-color: #ebeae7;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-align: center !important;
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 5px;
  text-align: center !important;
}

.btn {
  margin: auto;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 0.25rem;
}

.btn:hover {
  color: #ffffff;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.btn-red {
  background: #d33142;
}

.btn-green {
  background: #3dbd44;
}

.btn-blue {
  background: #3177d3;
}

input[type*="text"],
input[type*="id"],
input[type*="password"],
input[type*="number"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  text-align: left;
  white-space: nowrap;
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  margin: auto;
}

select:focus {
  outline-offset: 0px !important;
  outline: -webkit-focus-ring-color auto 1px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-width: 2px !important;
  border-color: black !important;
}

.update_msg {
  margin-top: 20px;
  text-align: center;
}

.update_msg span {
  color: white;
  background-color: black;
  padding: 1px 20px;
}

.tbls {
  width: 100%;
}

.tbl {
  margin-top: 5px;
}

.tbl .row .tbl_row .row {
  padding: 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tbl .row .tbl_row:nth-child(2n+1) {
  background-clip: content-box;
  background-color: #eae8e5;
}

.tbl_history .tbl_num {
  text-align: center;
}

.tbl_history .tbl_enter {
  text-align: center;
}

.tbl_history .tbl_enter .tbl_enter_date {
  margin-right: 3px;
}

.tbl_history .tbl_leave_date {
  margin-right: 5px;
}

.update_index .tbl_item:first-of-type {
  margin-top: 30px;
}

.update_index .tbl_item:nth-of-type(n+2) {
  margin-top: 75px;
}

.update_index .tbl_item .cat_name {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.update_index .tbl_item .tbl_update_index .tbl_row .item_name {
  text-align: center;
}

.update_index .tbl_item .tbl_update_index .tbl_row .enable {
  color: #3177d3;
  text-align: center;
}

.update_index .tbl_item .tbl_update_index .tbl_row .disable {
  text-align: center;
}

.update_index .tbl_item .tbl_update_index .tbl_row .edit {
  text-align: center;
}

.update_index .tbl_item .no_items {
  text-align: center;
  font-weight: bold;
}

.update_index .tbl_item .btns {
  margin-top: 15px;
}

.update_index .new_cat {
  margin-top: 50px;
  margin-bottom: 75px;
}

.update_index .new_cat a {
  font-weight: bold;
}

.update_index .no_cat {
  margin-top: 50px;
  font-weight: bold;
  font-size: 1.5rem;
}

.update_store_index .form_update,
.update_update .form_update,
.update_insert .form_update {
  margin-top: 30px;
}

.update_store_index .field .field_text,
.update_update .field .field_text,
.update_insert .field .field_text {
  padding-left: 30px;
}

.update_store_index .value,
.update_update .value,
.update_insert .value {
  margin-bottom: 20px;
}

.update_store_index .value .value_text,
.update_update .value .value_text,
.update_insert .value .value_text {
  padding-left: 30px;
}

.update_store_index .value input,
.update_update .value input,
.update_insert .value input {
  width: 100%;
}

.update_store_index .value img,
.update_update .value img,
.update_insert .value img {
  margin-bottom: 10px;
}

.update_index .btns .delete_btn,
.update_update .btns .delete_btn,
.update_insert .btns .delete_btn {
  margin-top: 20px;
}

.pw-icon {
  color: #555;
  float: right;
  margin-right: 15px;
  margin-top: -30px;
  position: relative;
  z-index: 2;
}

.login .pw-icon {
  margin-top: -55px;
}

#btn_sort_cat.fixed {
  position: fixed;
  top: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 5;
  -webkit-box-shadow: 0 0 5px #495057;
          box-shadow: 0 0 5px #495057;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btns {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.btns div:first-of-type {
  margin-right: 20px;
}

.btns.sortable div:first-of-type {
  margin-right: 0;
  margin-left: auto;
  margin-bottom: 15px;
}

.btns.sortable div:first-of-type a {
  border-radius: 0.25rem 0 0 0.25rem;
  width: 100%;
}

.btns.sortable .btn_sort_item {
  margin-right: auto;
  margin-left: 0;
  margin-bottom: 15px;
  border-radius: 0 0.25rem 0.25rem 0;
}

.btns.sortable div:last-of-type {
  margin: auto;
  margin-top: 0;
}

.update_insert .tbl .row .tbl_row:nth-child(1) {
  font-weight: normal;
}

.required_field {
  color: #d33142;
  font-size: 0.8rem;
}

.history .selected_date {
  font-size: 1.25rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

.history .no_history {
  font-size: 1.5rem;
}

.history .guest_sum {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.history .tbl_history .tbl_row:nth-child(1) {
  font-weight: bold;
}

.update_menu_index .tbl_row .item_name, .update_menu_index .tbl_row .likes {
  margin-bottom: 10px;
}

.update_menu_index .tbl_row .likes {
  text-align: center;
  color: #d33142;
}

.update_menu_index .tbl_row .likes svg {
  width: 20px;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  stroke: #000;
  stroke-width: 2px;
  fill: #e92f39;
}

.update_menu_index .tbl_row .btn-group-vertical > .btn, .update_menu_index .tbl_row .btn-group > .btn {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin: inherit;
}

.update_update .item_enabled, .update_insert .item_enabled, .update_menu_index .item_enabled {
  margin-bottom: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.update_update .item_enabled .btn-primary, .update_insert .item_enabled .btn-primary, .update_menu_index .item_enabled .btn-primary {
  color: #606060;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #606060;
}

.update_update .item_enabled .btn-primary:not(:disabled):not(.disabled).active, .update_insert .item_enabled .btn-primary:not(:disabled):not(.disabled).active, .update_menu_index .item_enabled .btn-primary:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #3177d3;
  border-color: #3177d3;
}

.update_update .item_enabled .btn-primary:focus, .update_update .item_enabled .btn-primary.focus, .update_insert .item_enabled .btn-primary:focus, .update_insert .item_enabled .btn-primary.focus, .update_menu_index .item_enabled .btn-primary:focus, .update_menu_index .item_enabled .btn-primary.focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.update_update .item_enabled label input #text, .update_insert .item_enabled label input #text, .update_menu_index .item_enabled label input #text {
  font-size: 1rem;
}
/*# sourceMappingURL=common.css.map */