- var ROOT_PATH = 'https://artful.jp/staging-menu/front/';
- var IMG_PATH = ROOT_PATH + 'img/';

- 
	var GLOBAL_MENU = {
		MENU: ROOT_PATH + 'menu/',
	}

- 
	var titles = {
		home: "Don't Touch Menu",
		menu: "Menu | Don't Touch Menu",
	}