extends ./_layout

block config

block append head
	link(rel="stylesheet" href=rootPath+"css/home/style.css")
	include ./_config
	title #{titles['home']}

block content
	main
		.container-fluid
			.row
				h1
					figure.logo: img(src="./img/logo.jpg", alt="Don't Touch Menu")

block script