extends ../_layout

block config

block append head
	link(rel="stylesheet" href=rootPath+"css/home/style.css")
	include ../_config
	title #{titles['menu']}

block content
	main content

block script