@import "variables";

body{
	background: #ffffff;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: $font-def;
	font-weight: 400;
	overflow-x: hidden;
	.container, .container-fluid{
		padding-left: 25px;
		padding-right: 25px;
	}
}

//leave
main.leave{
	form{
		input{
			@include button(#ee4b6e);
		}
	}
}