$font-h2: 1.5rem;
$font-def: 1.2rem;
$font-sml: 0.9rem;
$margin-def: 50px;
$margin-half: 25px;

$grey: #f3f3f3;

@mixin button($color){
    margin: auto;
    background: $color;
    color: #ffffff;
    border: none;
    font-size: $font-h2;
    padding: 10px 0;
    width: 100%;
    border-radius: $font-h2 / 3;
}

